---
---

@import "{{ site.theme }}";

body{
  background-color: black;
  color: white;
}
h1{
  color: white;
}
h2, h3{
  color: silver;
}
a{
  color: lightgrey;
  font-weight: bold;
}
a:hover {
  background-color: red;
  color: black;
}
