---
---

@import "{{ site.theme }}";

body{
  background-color: black;
  color: white;
}
h1{
  color: white;
}
h2, h3{
  color: silver;
}
a{
  color: lightgrey;
}
a:hover {
  background-color: red;
  color: black;
}
a:active {
  background-color: red;
  color: black;
}
#contenido h1{
  background-color: red;
  color: black;
}
#contenido a{
  font-weight: bold;
  background-color: white;
  color: black;
}
#contenido a:hover{
  font-weight: bold;
  background-color: red;
  color: black;
}
#contenido a:active{
  font-weight: bold;
  background-color: red;
  color: black;
}
.imgColaboraciones{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.jl-title{
  font-size: 100px;
  font-family: 'Stick', sans-serif;
}
