---
---

@import "{{ site.theme }}";

body{
  background-color: black;
  color: white;
}
h1{
  color: white;
}
h2, h3{
  color: silver;
}
a{
  color: lightgrey;
}
a:hover {
  background-color: red;
  color: black;
}
#contenido a{
  font-weight: bold;
}
.imgColaboraciones{
  height: 70px;
}
.imgColaboraciones img{
  object-fit: cover;
}
